.gif {
    width: 100%;
}

.gif-link {
    text-decoration: none;
    color: white
}

.gif-title {
    margin: 0;
    padding: 1em;
    text-transform: capitalize;
    text-align: left;
    font-size: .9rem;
    font-weight: normal;
    background-color: hsl(220, 10%, 10%);
}

.gif-img {
    width: 100%;
    display: block;
}