.gif {
    width: 100%;
    max-width: 360px;
}

.gif-link {
    text-decoration: none;
    color: white
}

.gif-title {
    margin: 0;
    padding: 1em;
    text-transform: capitalize;
    text-align: left;
    font-weight: normal;
    background-color: hsl(220, 10%, 10%);
}

.gif-img {
    width: 100%;
    display: block;
    aspect-ratio: 16/9;
    object-fit: cover;
}